@{
    ViewData["Title"] = "Tickets";
}

<div class="text-center">
    <h1 class="display-4">Ingreso ticket</h1>
    <p>
        <h2>ID de la boleta:</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        <a asp-action="Edit" class="btn btn-outline-primary">Ingresar</a>
    </p>
</div>
