@model ParcialAPI.DAL.Entities.Ticket

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Ingreso ticket</h1>
            <form asp-controller="Ticket" asp-action="GetTicketById" method="get">
                <div asp-validation-summary="ModelOnly" ></div>

                    <div class="form-group">
                        <input name="id" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Consultar" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                    </div>
            </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
